<a href="https://colab.research.google.com/github/dSudario9/Amostragem/blob/main/Amostragem_Sistematica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Realize uma amostragem sistemática nos dados da base Iris, carregada direto do sklearn. 
Lembre-se que o objetivo da amostragem sistemática é selecionar itens da população (base completa nesse caso) utilizando um intervalo fixo.

Para esse exercício, vamos partir do elemento com índice 2 na base e a partir daí selecionar de 10 em 10 os itens seguintes que farão parte da amostra.

O import dos dados já foi feito! Desenvolva o seu código a partir daí :)

In [3]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [4]:
iris_df = pd.DataFrame(datasets.load_iris().data)

In [5]:
iris_df.columns = datasets.load_iris().feature_names

In [6]:
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Dica: Sua amostra final, se correta, deverá conter 30 itens! Você pode verificar o tamanho da amostra utilizando len() ou .shape

Criar um array com os índices que nos interessam - início no 2 conforme enunciado, até o último índice da base de dados, com um step de 5, ou seja, pegar de 5 em 5.

In [7]:
indexes = np.arange(2, len(iris_df), step=5)

In [15]:
print(indexes)

[  2   7  12  17  22  27  32  37  42  47  52  57  62  67  72  77  82  87
  92  97 102 107 112 117 122 127 132 137 142 147]

Filtrar da base original somente os índices que nos interessam e que já estão contidos no array "indexes".

In [16]:
amostra = iris_df.iloc[indexes]

In [17]:
amostra.shape

(30, 4)

In [18]:
amostra

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
2                  4.7               3.2                1.3               0.2
7                  5.0               3.4                1.5               0.2
12                 4.8               3.0                1.4               0.1
17                 5.1               3.5                1.4               0.3
22                 4.6               3.6                1.0               0.2
27                 5.2               3.5                1.5               0.2
32                 5.2               4.1                1.5               0.1
37                 4.9               3.6                1.4               0.1
42                 4.4               3.2                1.3               0.2
47                 4.6               3.2                1.4               0.2
52                 6.9               3.1                4.9               1.5
57                 4.9               2.4                3.3               1.0
62                 6.0               2.2                4.0               1.0
67                 5.8               2.7                4.1               1.0
72                 6.3               2.5                4.9               1.5
77                 6.7               3.0                5.0               1.7
82                 5.8               2.7                3.9               1.2
87                 6.3               2.3                4.4               1.3
92                 5.8               2.6                4.0               1.2
97                 6.2               2.9                4.3               1.3
102                7.1               3.0                5.9               2.1
107                7.3               2.9                6.3               1.8
112                6.8               3.0                5.5               2.1
117                7.7               3.8                6.7               2.2
122                7.7               2.8                6.7               2.0
127                6.1               3.0                4.9               1.8
132                6.4               2.8                5.6               2.2
137                6.4               3.1                5.5               1.8
142                5.8               2.7                5.1               1.9
147                6.5               3.0                5.2               2.0

In [35]:
amostraj=iris_df.loc[iris_df['sepal width (cm)']>2]
amostraj.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         149.000000        149.000000         149.000000        149.000000
mean            5.848993          3.064430           3.759732          1.200671
std             0.827943          0.428554           1.771124          0.764632
min             4.300000          2.200000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.400000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000